@media screen and (max-width: 768px) {
  .game-board {
    height: 100vh; /* Ajusta a altura para ocupar todo o visor no celular */
  }
}

.game-board {
  width: 200vw; /* Faz a área do jogo ser duas vezes a largura da tela */
  height: 600px; /* Mantém a altura original */
  overflow-x: scroll; /* Permite o scroll horizontal */
  position: relative;
}

body {
  overflow: hidden; /* Impede o scroll da página fora do jogo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 600px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}
.clouds {
  position: absolute;
  width: 550px;
  animation: clouds-animation 20s linear infinite;
}

.cloudssegund {
  position: absolute;
  width: 550px;
  animation: clouds-segund-animation 30s linear infinite;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 50px;
  animation: pipe-animation 1.5s linear infinite;
}

 .game-over-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .game-over-message h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .game-over-message p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .game-over-message button {
    font-size: 1rem;
    padding: 10px 20px;
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .game-over-message button:hover {
    background: #ff6b81;
  }

.counter-pipe {
  position: absolute;
  bottom: 10;
  color: #fdfdfd;
}

.counter-pipe span {
  width: 150px;
  color: #e0f6ff;
}

.mario {
  position: absolute;
  bottom: 0;
  width: 150px;
}

.jump {
  animation: jump 640ms ease-out infinite;
}

@keyframes pipe-animation {
  from {
    right: -100px;
  }

  to {
    right: 100%;
  }
}

@keyframes clouds-animation {
  from {
    right: -850px;
  }

  to {
    right: 100%;
  }
}

@keyframes clouds-segund-animation {
  from {
    right: -950px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}
